/*
	Fooseshoes Bootstrap Theme


*/
/* BASE - Base Style, variable,  mixins etc */
@font-face {
  font-family: AllerLight;
  src: url(../fonts/Aller_Lt_0.ttf);
}

@font-face {
  font-family: Aller;
  src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
  font-family: Ft58;
  src: url(../fonts/ftMedium.ttf);
}

/* line 1, D:/projects/precise32/www/fooseshoes/scss/base/_base.scss */
body {
  font-family: "AllerLight";
  font-size: 15px;
  color: #242424;
  background-color: #ebe7df;
}

/* line 7, D:/projects/precise32/www/fooseshoes/scss/base/_base.scss */
body h1 {
  font-family: "Aller";
}

/* MODULES */
/* line 1, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default {
  background-color: #fff;
}

/* line 6, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default {
  margin-bottom: 0;
}

/* line 9, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .label {
  font-size: 12px;
  margin: 4px;
  font-family: "Aller";
}

/* line 16, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .label-default {
  background-color: #adadad;
}

/* line 19, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .label-green {
  background-color: #57c5a0;
}

/* line 24, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .navbar-nav li {
  border-left: 1px solid #e7e6e2;
  width: 88px;
}

/* line 28, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .navbar-nav li a {
  text-align: center;
}

/* line 34, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .navbar-nav li:hover a {
  color: #fff;
  background-color: #57c5a0;
  text-align: center;
}

/* line 42, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .navbar-nav li.active a {
  color: #57c5a0;
  background-color: #fff;
  text-align: center;
}

/* line 50, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-default .navbar-nav li.active:hover a {
  color: #fff;
  background-color: #57c5a0;
  text-align: center;
}

/* line 59, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-inverse {
  margin-bottom: 0px;
}

/* line 63, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.navbar-inverse .navbar-brand {
  font-family: "Ft58";
  font-size: 26PX;
  color: #57c5a0;
}

/* line 73, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.search input[type="search"] {
  border: 0;
  background-color: #242424;
}

/* line 79, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.search button[type="submit"] {
  border: 0;
  height: 32px;
  background: none;
  color: #7e7e7e;
  padding: 0;
  verticle-align: top;
  margin-left: -4px;
}

/* line 89, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.search button {
  border-top: 0;
  border-bottom: 0;
  border-left: solid #7e7e7e 1px;
  border-right: solid #7e7e7e 1px;
  padding: 6px 5px 6px 5px;
  margin-left: 5px;
  background-color: #242424;
  color: #7e7e7e;
}

/* line 105, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
section {
  padding: 15px 15px;
}

/* line 108, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-product {
  margin-top: 0;
  height: 260px;
  background-color: #eae8e4 !important;
  background: url("../img/showcase.jpg") no-repeat top left;
}

/* line 114, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-product .showcase-content {
  padding-top: 2px;
}

/* line 118, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-product .showcase-content .lead {
  margin-bottom: 9px;
}

/* line 123, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-product .price-box {
  background-color: #57c5a0;
  color: #fff;
  width: 68px;
  height: 67px;
  float: left;
  margin-right: 23px;
  margin-top: 23px;
}

/* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
.section-showcase-product .price-box span {
  display: block;
  text-align: center;
  padding-top: 22px;
  font-weight: bold;
  font-size: 14px;
}

/* line 134, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-home {
  margin-top: 0;
  height: 460px;
  background-color: #eae8e4 !important;
  background: url("../img/home_showcase.jpg") no-repeat top left;
}

/* line 140, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-home .showcase-content {
  padding-top: 50px;
}

/* line 144, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-home .showcase-content .lead {
  margin-bottom: 9px;
}

/* line 149, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-home .border-square, .section-showcase-home .border-square-green {
  background-color: #fff;
  color: #a8a5a5;
  padding: 11px;
  float: left;
  width: 7%;
  height: 35px;
  margin: 1px;
}

/* line 159, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-home .border-square-green {
  color: #57c5a0;
}

/* line 164, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-showcase-home .price-box {
  background-color: #57c5a0;
  color: #fff;
  width: 68px;
  height: 67px;
}

/* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
.section-showcase-home .price-box span {
  display: block;
  text-align: center;
  padding-top: 22px;
  font-weight: bold;
  font-size: 14px;
}

/* line 172, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.prodocut-filter {
  background-color: #2e2e2e;
  min-height: 70px;
  color: #fff;
}

/* line 180, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.prodocut-filter h3 {
  padding-top: 0 !important;
}

/* line 183, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.prodocut-filter .btn {
  background-color: #000;
  min-height: 50px;
  color: #fff;
  border: none;
  width: 200px;
  font-size: 20px !important;
  padding-top: 12px;
}

/* line 197, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list {
  padding-bottom: 0;
}

/* line 200, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list small span {
  margin-left: 140px;
}

/* line 204, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list .icon-holder {
  float: right;
  border: 1px #bcb5a7 solid;
  padding: 7px;
  color: #7e7e7e;
  margin: 0 13px 0 3px;
  width: 30px;
  height: 30px;
  color: #bcb5a7;
  font-size: 16px;
}

/* line 217, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list .btn-group {
  float: right;
  width: 152px;
  height: 30px;
}

/* line 221, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list .btn-group a {
  width: 152px;
  height: 30px;
}

/* line 229, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list .list-filter {
  margin-bottom: 15px;
}

/* line 233, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list .caption {
  border-top: 1px #e7e6e2 solid;
}

/* line 236, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list .list-group-item-heading {
  text-align: center;
}

/* line 242, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.product-list .container .list-group {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  /* line 252, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 68px;
    height: 67px;
    top: 75%;
    left: 30px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 266, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    left: 20px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-outofstock {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    left: 20px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-outofstock span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  /* line 294, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    top: 159px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 303, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 313, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 53px;
    height: 53px;
    left: 160px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 320, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 331, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-outofstock {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 53px;
    height: 53px;
    left: 160px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-outofstock span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 337, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-outofstock span {
    display: block;
    text-align: center;
    padding-top: 12px;
    font-weight: normal;
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  /* line 350, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 199px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 359, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    left: 211px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 368, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-outofstock {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    left: 211px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-outofstock span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 383, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 195px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 393, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    left: 211px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 402, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .product-list .price-box-outofstock {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 215px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    left: 211px;
  }
  /* line 48, D:/projects/precise32/www/fooseshoes/scss/base/_mixins.scss */
  .product-list .price-box-outofstock span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  /* line 425, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category {
    background-color: #242424;
    padding: 0;
    min-height: 318px;
  }
  /* line 432, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top {
    background-color: #2e2e2e;
    min-height: 88px;
  }
  /* line 435, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar {
    height: 10px;
    margin-top: 5px;
    background-color: #000;
    padding: 3px;
    border-right: 2px solid #2e2e2e;
  }
  /* line 447, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category h4 {
    color: #7d7d7d;
    text-align: center;
  }
  /* line 451, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category .small {
    text-align: center;
    color: #7d7d7d;
    font-size: 12px;
  }
  /* line 460, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected h4 {
    color: #fff;
    text-align: center;
  }
  /* line 464, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected .small {
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
  /* line 473, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special {
    margin-top: 20px;
  }
  /* line 478, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special img {
    width: 100%;
  }
  /* line 483, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special .special-text {
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    top: 46px;
    left: 41px;
    width: 169px;
    height: 45px;
    color: #fff;
    text-align: center;
    padding-top: 9px;
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  /* line 506, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category {
    background-color: #242424;
    padding: 0;
    min-height: 318px;
  }
  /* line 515, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top {
    background-color: #2e2e2e;
    min-height: 88px;
  }
  /* line 519, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar {
    height: 10px;
    margin-top: 5px;
    background-color: #000;
    padding: 3px;
    border-right: 2px solid #2e2e2e;
  }
  /* line 526, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .bar, .section-category .cat-top .top-category-bar .bar-selected {
    height: 4px;
    padding: 2px;
    border-right: 2px solid #2e2e2e;
  }
  /* line 535, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category h4 {
    color: #7d7d7d;
    text-align: center;
  }
  /* line 539, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category .small {
    text-align: center;
    color: #7d7d7d;
    font-size: 12px;
  }
  /* line 547, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .bar-selected {
    background-color: #57c5a0;
  }
  /* line 555, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected h4 {
    color: #fff;
    text-align: center;
  }
  /* line 559, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected .small {
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
  /* line 571, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special {
    margin-top: 20px;
  }
  /* line 576, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special img {
    width: 100%;
  }
  /* line 581, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special .special-text {
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    top: 75px;
    left: 80px;
    width: 170px;
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 11px;
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  /* line 607, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category {
    background-color: #242424;
    padding: 0;
    min-height: 175px;
  }
  /* line 613, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special {
    margin-top: 4%;
  }
  /* line 618, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special img {
    width: 100%;
  }
  /* line 623, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
  .section-category .special .special-text {
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    top: 34%;
    left: 17%;
    width: 68%;
    height: 37%;
    color: #fff;
    text-align: center;
    padding-top: 8%;
    font-size: 80%;
  }
}

/* line 648, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-misc .date-box {
  color: #fff;
  background-color: #57c5a0;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 15px;
}

/* line 659, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-misc .date-box span {
  display: block;
  text-align: center;
  margin-top: 5px;
}

/* line 668, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-misc .container h4 {
  font-weight: bold;
}

/* line 672, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-misc .container hr {
  margin-top: 0px;
  margin-bottom: 27px;
  border-top: 1px solid #bcb5a7;
}

/* line 678, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-misc .container .media-left {
  padding-right: 0;
}

/* line 683, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-misc .container .media-body h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 691, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.block-gray {
  background-color: #dfdbd4;
  padding: 18px;
  min-height: 280px;
}

/* line 697, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark {
  background-color: #242424;
  margin-top: 15px;
  color: #7b7b7b;
}

/* line 703, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container-second {
  margin-top: 32px;
}

/* line 706, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container {
  margin-bottom: 32px;
}

/* line 711, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container .form-control {
  border-radius: 0;
}

/* line 717, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container .search {
  margin: 0;
}

/* line 721, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container .border-square, .section-dark .container .section-showcase-home .border-square-green, .section-showcase-home .section-dark .container .border-square-green {
  background-color: #2e2e2e;
  color: #7d7d7d;
  padding: 8px 8px 8px 10px;
  width: 36px;
  height: 35px;
  font-size: 18px;
}

/* line 731, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container p {
  font-style: italic;
  font-size: 12px;
}

/* line 736, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container .block-dark {
  padding-top: 25px;
}

/* line 739, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container .block-dark .list-group {
  margin-right: 55px;
}

/* line 742, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .container .block-dark img {
  margin-top: 7px;
  width: 75px;
  height: 56px;
}

/* line 758, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .hr-dark {
  border-top: 1px solid #000 !important;
}

/* line 762, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .search {
  margin: 40px;
}

/* line 765, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .search input[type="search"] {
  border: 0;
  background-color: #2e2e2e;
  height: 36px;
  width: 250px;
  font-style: italic;
}

/* line 777, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
.section-dark .search button[type="submit"] {
  border: 0;
  background: #7d7d7d;
  color: #242424;
  verticle-align: top;
  border-radius: 0;
  margin-left: 8px;
  height: 36px;
  padding: 11px;
  margin-left: -37px;
  width: 36px;
}

/* line 805, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer {
  padding-top: 1px;
  background-color: #2e2e2e;
  color: #7b7b7b;
}

/* line 810, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 815, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container p {
  font-size: 12px;
}

/* line 819, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container {
  float: right;
}

/* line 821, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul {
  margin: 0;
  padding: 0;
}

/* line 825, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul li {
  list-style: none;
  float: left;
  margin-right: 4px;
}

/* line 833, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul li a {
  text-decoration: none;
  border-right: 1px solid #7b7b7b;
  padding-right: 4px;
  font-size: 12px;
  color: #7b7b7b;
}

/* line 845, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul:before, footer .container .menu-footer-menu-links-container ul:after {
  content: "";
  display: table;
}

/* line 850, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul:after {
  clear: both;
}

/* line 851, D:/projects/precise32/www/fooseshoes/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul {
  *zoom: 1;
}

/* line 1, D:/projects/precise32/www/fooseshoes/scss/modules/_buttons.scss */
.btn {
  border: 1px solid #bcb5a7;
  color: #bcb5a7;
  border-radius: 0;
  width: 100px;
  background-color: #ebe7df;
}

/* line 1, D:/projects/precise32/www/fooseshoes/scss/modules/_typography.scss */
.text-muted {
  color: #242424;
}

/* line 4, D:/projects/precise32/www/fooseshoes/scss/modules/_typography.scss */
.text-primary {
  color: #57c5a0;
}

/* line 7, D:/projects/precise32/www/fooseshoes/scss/modules/_typography.scss */
.text-success {
  color: #57c5a0;
}

/* LAYOUTS */

/*# sourceMappingURL=../css/main.map */