/*
	Fooseshoes Bootstrap Theme


*/
/* BASE - Base Style, variable,  mixins etc */
@font-face {
  font-family: AllerLight;
  src: url(../fonts/Aller_Lt_0.ttf);
}

@font-face {
  font-family: Aller;
  src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
  font-family: Ft58;
  src: url(../fonts/ftMedium.ttf);
}

/* line 1, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_base.scss */
body {
  font-family: "AllerLight";
  font-size: 15px;
  color: #242424;
  background-color: #ebe7df;
}

/* line 7, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_base.scss */
body h1 {
  font-family: "Aller";
}

/* MODULES */
/* line 1, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default {
  background-color: #fff;
}

/* line 6, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default {
  margin-bottom: 0;
}

/* line 9, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default .label {
  font-size: 12px;
  margin: 4px;
  font-family: "Aller";
}

/* line 16, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default .label-default {
  background-color: #adadad;
}

/* line 19, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default .label-green {
  background-color: #57c5a0;
}

/* line 26, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav li {
  border-left: 1px solid #e7e6e2;
  position: relative;
  width: 88px;
}

/* line 31, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav li a {
  text-align: center;
  display: block;
}

/* line 37, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav li a:hover {
  color: #fff;
  background-color: #57c5a0;
  text-align: center;
}

/* line 44, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav li:hover > ul {
  display: block;
}

/* line 50, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav li.current_page_item a {
  color: #57c5a0;
  background-color: #fff;
  text-align: center;
}

/* line 56, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav li.current_page_item a:hover {
  color: #fff;
  background-color: #57c5a0;
  text-align: center;
}

/* line 63, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav ul {
  position: absolute;
  display: none;
  list-style: none;
  padding: 0;
}

/* line 70, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav ul li {
  border-left: 1px solid #e7e6e2;
  width: 132px;
  background-color: white;
  border-top: 1px solid #e7e6e2;
  height: 37px;
  line-height: 37px;
}

/* line 79, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav ul li a {
  color: #242424;
  text-align: center;
  text-decoration: none;
  display: block;
}

/* line 86, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav ul li a:hover {
  color: #fff;
  background-color: #57c5a0;
  text-align: center;
  text-decoration: none;
}

/* line 94, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-default ul.navbar-nav ul ul {
  margin-left: 131px;
  top: 0;
}

/* line 113, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-inverse {
  margin-bottom: 0px;
}

/* line 117, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.navbar-inverse .navbar-brand {
  font-family: "Ft58";
  font-size: 26PX;
  color: #57c5a0;
}

/* line 127, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.search input[type="search"] {
  border: 0;
  background-color: #242424;
}

/* line 133, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.search button[type="submit"] {
  border: 0;
  height: 32px;
  background: none;
  color: #7e7e7e;
  padding: 0;
  verticle-align: top;
  margin-left: -4px;
}

/* line 143, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.search button {
  border-top: 0;
  border-bottom: 0;
  border-left: solid #7e7e7e 1px;
  border-right: solid #7e7e7e 1px;
  padding: 6px 5px 6px 5px;
  margin-left: 5px;
  background-color: #242424;
  color: #7e7e7e;
}

/* line 159, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
section {
  padding: 15px 15px;
}

/* line 162, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-product {
  margin-top: 0;
  height: 260px;
  background-color: #eae8e4 !important;
  background: url("../img/showcase.jpg") no-repeat top left;
  margin-bottom: 24px;
}

/* line 169, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-product .showcase-content {
  padding-top: 2px;
}

/* line 173, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-product .showcase-content .lead {
  margin-bottom: 9px;
}

/* line 178, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-product .price-box {
  background-color: #57c5a0;
  color: #fff;
  width: 68px;
  height: 67px;
  float: left;
  margin-right: 23px;
  margin-top: 23px;
}

/* line 182, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-product .price-box span {
  display: block;
  text-align: center;
  padding-top: 31%;
  font-weight: bold;
  font-size: 100%;
}

/* line 183, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-product .price-box span span {
  display: initial;
}

/* line 198, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home {
  margin-top: 0;
  height: 460px;
  background-color: #eae8e4 !important;
}

@media screen and (max-width: 768px) {
  /* line 198, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-showcase-home {
    background: url("../img/home_showcase2.jpg") no-repeat top left;
  }
}

@media screen and (min-width: 768px) {
  /* line 198, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-showcase-home {
    background: url("../img/home_showcase2.jpg") no-repeat top left;
  }
}

@media screen and (min-width: 992px) {
  /* line 198, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-showcase-home {
    background: url("../img/home_showcase.jpg") no-repeat top left;
  }
}

/* line 217, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home .showcase-content {
  padding-top: 50px;
}

/* line 221, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home .showcase-content .lead {
  margin-bottom: 9px;
}

/* line 226, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home .border-square, .section-showcase-home .border-square-green {
  background-color: #fff;
  color: #a8a5a5;
  padding: 11px;
  float: left;
  width: 7%;
  height: 35px;
  margin: 1px;
}

/* line 236, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home .border-square-green {
  color: #57c5a0;
}

/* line 242, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home .price-box {
  background-color: #57c5a0;
  color: #fff;
  width: 68px;
  height: 67px;
}

/* line 244, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home .price-box span {
  display: block;
  text-align: center;
  padding-top: 31%;
  font-weight: bold;
  font-size: 100%;
}

/* line 245, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-showcase-home .price-box span span {
  display: initial;
}

@media screen and (max-width: 768px) {
  /* line 497, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product span.onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 10%;
    height: 1.8%;
    top: 0;
    left: 2%;
    float: right;
    border-radius: 0;
  }
}

@media screen and (min-width: 768px) {
  /* line 497, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product span.onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    left: 0;
    top: 0;
    float: right;
    border-radius: 0;
  }
}

@media screen and (min-width: 992px) {
  /* line 497, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product span.onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 59px;
    height: 51px;
    top: 0;
    left: 0;
    float: right;
    border-radius: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* line 497, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product span.onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 59px;
    height: 51px;
    top: 0;
    left: 0;
    float: right;
    border-radius: 0;
  }
}

/* line 272, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.prodocut-filter {
  background-color: #2e2e2e;
  min-height: 70px;
  color: #fff;
}

/* line 280, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.prodocut-filter h3 {
  padding-top: 0 !important;
}

/* line 283, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.prodocut-filter .btn {
  background-color: #000;
  min-height: 50px;
  color: #fff;
  border: none;
  width: 200px;
  font-size: 20px !important;
  padding-top: 12px;
}

/* line 297, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop {
  padding-bottom: 0;
}

/* line 301, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop ul.products li.product {
  width: 29.05%;
}

/* line 306, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop small span {
  margin-left: 140px;
}

/* line 310, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop .icon-holder {
  float: right;
  border: 1px #bcb5a7 solid;
  padding: 7px;
  color: #7e7e7e;
  margin: 0 13px 0 3px;
  width: 30px;
  height: 30px;
  color: #bcb5a7;
  font-size: 16px;
}

/* line 323, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop .btn-group {
  float: right;
  width: 152px;
  height: 30px;
}

/* line 327, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop .btn-group a {
  width: 152px;
  height: 30px;
}

/* line 335, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop .list-filter {
  margin-bottom: 15px;
}

/* line 339, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop .caption {
  border-top: 1px #e7e6e2 solid;
}

/* line 342, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop .list-group-item-heading {
  text-align: center;
}

/* line 348, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list-shop .container .list-group {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  /* line 360, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop ul.products li.product {
    width: 100%;
  }
  /* line 364, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .caption {
    margin-left: 17%;
    padding: 1.7%;
  }
  /* line 368, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .caption h4 {
    font-size: 100%;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 16%;
    height: 17%;
    top: 79.5%;
    left: 2%;
  }
  /* line 288, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box del span, .product-list-shop .price-box ins span {
    padding-top: 15px !important;
  }
  /* line 291, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box span {
    display: block;
    text-align: center;
    padding-top: 31%;
    font-weight: bold;
    font-size: 100%;
  }
  /* line 292, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 16%;
    height: 17%;
    top: 0;
    left: 2%;
  }
  /* line 377, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 31%;
    font-weight: bold;
    font-size: 100%;
  }
  /* line 378, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
  }
}

@media screen and (min-width: 768px) {
  /* line 387, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .thumbnail .caption {
    margin-left: 58px;
  }
  /* line 390, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 12px;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 64px;
    height: 64px;
    top: 143px;
  }
  /* line 310, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box del span, .product-list-shop .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 313, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 315, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    left: 158px;
    top: 170px;
  }
  /* line 397, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 398, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    top: 0;
  }
  /* line 451, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 452, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

@media screen and (min-width: 992px) {
  /* line 411, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .thumbnail .caption {
    margin-left: 83px;
  }
  /* line 414, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 14px;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 192px;
  }
  /* line 329, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box del span, .product-list-shop .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 332, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 334, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 210px;
    left: 198px;
  }
  /* line 412, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 414, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 0;
  }
  /* line 465, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 467, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  /* line 438, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .thumbnail .caption {
    margin-left: 83px;
  }
  /* line 441, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list-shop .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 14px;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 188px;
  }
  /* line 348, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box del span, .product-list-shop .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 351, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 353, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 0;
    left: 182px;
  }
  /* line 429, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 431, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 0;
  }
  /* line 482, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 484, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list-shop .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

/* line 468, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related {
  padding-bottom: 0;
}

/* line 472, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related ul.products li.product {
  width: 29.05%;
}

/* line 477, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related small span {
  margin-left: 140px;
}

/* line 481, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related .icon-holder {
  float: right;
  border: 1px #bcb5a7 solid;
  padding: 7px;
  color: #7e7e7e;
  margin: 0 13px 0 3px;
  width: 30px;
  height: 30px;
  color: #bcb5a7;
  font-size: 16px;
}

/* line 494, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related .btn-group {
  float: right;
  width: 152px;
  height: 30px;
}

/* line 498, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related .btn-group a {
  width: 152px;
  height: 30px;
}

/* line 506, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related .list-filter {
  margin-bottom: 15px;
}

/* line 510, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related .caption {
  border-top: 1px #e7e6e2 solid;
}

/* line 513, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related .list-group-item-heading {
  text-align: center;
}

/* line 519, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.related .container .list-group {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  /* line 531, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related ul.products li.product {
    width: 100%;
  }
  /* line 535, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .caption {
    margin-left: 17%;
    padding: 1.7%;
  }
  /* line 539, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .caption h4 {
    font-size: 100%;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 16%;
    height: 17%;
    top: 79.5%;
    left: 2%;
  }
  /* line 288, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box del span, .related .price-box ins span {
    padding-top: 15px !important;
  }
  /* line 291, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box span {
    display: block;
    text-align: center;
    padding-top: 31%;
    font-weight: bold;
    font-size: 100%;
  }
  /* line 292, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 16%;
    height: 17%;
    top: 0;
    left: 2%;
  }
  /* line 377, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 31%;
    font-weight: bold;
    font-size: 100%;
  }
  /* line 378, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
  }
}

@media screen and (min-width: 768px) {
  /* line 558, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .thumbnail .caption {
    margin-left: 58px;
  }
  /* line 561, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 12px;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 64px;
    height: 64px;
    top: 143px;
  }
  /* line 310, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box del span, .related .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 313, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 315, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    left: 158px;
    top: 170px;
  }
  /* line 397, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 398, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    top: 0;
  }
  /* line 451, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 452, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

@media screen and (min-width: 992px) {
  /* line 582, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .thumbnail .caption {
    margin-left: 83px;
  }
  /* line 585, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 14px;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 192px;
  }
  /* line 329, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box del span, .related .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 332, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 334, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 210px;
    left: 198px;
  }
  /* line 412, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 414, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 0;
  }
  /* line 465, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 467, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  /* line 609, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .thumbnail .caption {
    margin-left: 83px;
  }
  /* line 612, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .related .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 14px;
  }
  /* line 279, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 188px;
  }
  /* line 348, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box del span, .related .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 351, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 353, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box span span {
    display: initial;
  }
  /* line 366, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 0;
    left: 182px;
  }
  /* line 429, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 431, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 444, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 64px;
    height: 64px;
    top: 0;
  }
  /* line 482, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 484, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .related .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

/* line 638, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list {
  padding-bottom: 0;
}

/* line 641, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list ul.products li.product {
  width: 29.05%;
}

/* line 646, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list small span {
  margin-left: 140px;
}

/* line 650, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list .icon-holder {
  float: right;
  border: 1px #bcb5a7 solid;
  padding: 7px;
  color: #7e7e7e;
  margin: 0 13px 0 3px;
  width: 30px;
  height: 30px;
  color: #bcb5a7;
  font-size: 16px;
}

/* line 663, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list .btn-group {
  float: right;
  width: 152px;
  height: 30px;
}

/* line 667, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list .btn-group a {
  width: 152px;
  height: 30px;
}

/* line 675, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list .list-filter {
  margin-bottom: 15px;
}

/* line 679, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list .caption {
  border-top: 1px #e7e6e2 solid;
}

/* line 682, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list .list-group-item-heading {
  text-align: center;
}

/* line 688, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.product-list .container .list-group {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  /* line 699, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list ul.products li.product {
    width: 100% !important;
  }
  /* line 703, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .caption {
    margin-left: 17%;
    padding: 1.7%;
  }
  /* line 707, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .caption h4 {
    font-size: 100%;
  }
  /* line 55, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 16%;
    height: 17%;
    top: 79.5%;
    left: 2%;
  }
  /* line 64, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box del span, .product-list .price-box ins span {
    padding-top: 15px !important;
  }
  /* line 67, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box span {
    display: block;
    text-align: center;
    padding-top: 31%;
    font-weight: bold;
    font-size: 100%;
  }
  /* line 68, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box span span {
    display: initial;
  }
  /* line 142, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 16%;
    height: 17%;
    top: 0;
    left: 2%;
  }
  /* line 153, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 31%;
    font-weight: bold;
    font-size: 100%;
  }
  /* line 154, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box-onsale span span {
    display: initial;
  }
  /* line 220, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
  }
}

@media screen and (min-width: 768px) {
  /* line 726, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .thumbnail .caption {
    margin-left: 58px;
  }
  /* line 729, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 14px;
  }
  /* line 55, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    top: 170px;
  }
  /* line 86, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box del span, .product-list .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 89, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 91, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box span span {
    display: initial;
  }
  /* line 142, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    left: 158px;
    top: 170px;
  }
  /* line 173, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 174, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 220, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    margin-left: 3px;
    width: 53px;
    height: 53px;
    top: 0;
  }
  /* line 227, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
    font-size: 12px;
  }
  /* line 228, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

@media screen and (min-width: 992px) {
  /* line 748, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .thumbnail .caption {
    margin-left: 83px;
  }
  /* line 751, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 18px;
  }
  /* line 55, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 210px;
  }
  /* line 105, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box del span, .product-list .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 108, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 110, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box span span {
    display: initial;
  }
  /* line 142, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 210px;
    left: 198px;
  }
  /* line 188, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 190, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 220, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 0;
  }
  /* line 241, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 243, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  /* line 771, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .thumbnail .caption {
    margin-left: 83px;
  }
  /* line 774, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .product-list .thumbnail .caption h4.list-group-item-heading {
    text-align: left;
    font-size: 18px;
  }
  /* line 55, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box {
    background-color: #57c5a0;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    top: 195px;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 206px;
  }
  /* line 124, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box del span, .product-list .thumbnail .price-box ins span {
    padding-top: 9px !important;
  }
  /* line 127, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 129, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box span span {
    display: initial;
  }
  /* line 142, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale {
    background-color: #f27e4b;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 0;
    left: 198px;
  }
  /* line 205, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 207, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span span {
    display: initial;
  }
  /* line 220, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale {
    background-color: #242424;
    color: #fff;
    width: 68px;
    height: 67px;
    position: absolute;
    float: left;
    margin-right: 23px;
    margin-left: 14px;
    width: 68px;
    height: 67px;
    top: 0;
  }
  /* line 257, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span {
    display: block;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
    font-size: 14px;
  }
  /* line 259, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/base/_mixins.scss */
  .product-list .thumbnail .price-box-onsale span span {
    display: initial;
  }
}

@media screen and (min-width: 768px) {
  /* line 802, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category {
    background-color: #242424;
    padding: 0;
    min-height: 318px;
  }
  /* line 809, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top {
    background-color: #2e2e2e;
    min-height: 88px;
  }
  /* line 812, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar {
    height: 10px;
    margin-top: 5px;
    background-color: #000;
    padding: 3px;
    border-right: 2px solid #2e2e2e;
  }
  /* line 824, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category h4 {
    color: #7d7d7d;
    text-align: center;
  }
  /* line 828, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category .small {
    text-align: center;
    color: #7d7d7d;
    font-size: 12px;
  }
  /* line 837, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected h4 {
    color: #fff;
    text-align: center;
  }
  /* line 841, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected .small {
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
  /* line 850, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special {
    margin-top: 20px;
  }
  /* line 855, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special img {
    width: 100%;
  }
  /* line 860, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special .special-text {
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    top: 46px;
    left: 41px;
    width: 169px;
    height: 45px;
    color: #fff;
    text-align: center;
    padding-top: 9px;
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  /* line 883, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category {
    background-color: #242424;
    padding: 0;
    min-height: 318px;
  }
  /* line 892, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top {
    background-color: #2e2e2e;
    min-height: 88px;
  }
  /* line 896, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar {
    height: 10px;
    margin-top: 5px;
    background-color: #000;
    padding: 3px;
    border-right: 2px solid #2e2e2e;
  }
  /* line 903, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .bar, .section-category .cat-top .top-category-bar .bar-selected {
    height: 4px;
    padding: 2px;
    border-right: 2px solid #2e2e2e;
  }
  /* line 912, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category h4 {
    color: #7d7d7d;
    text-align: center;
  }
  /* line 916, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category .small {
    text-align: center;
    color: #7d7d7d;
    font-size: 12px;
  }
  /* line 924, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .bar-selected {
    background-color: #57c5a0;
  }
  /* line 932, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected h4 {
    color: #fff;
    text-align: center;
  }
  /* line 936, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .cat-top .top-category-bar .category-selected .small {
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
  /* line 948, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special {
    margin-top: 20px;
  }
  /* line 953, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special img {
    width: 100%;
  }
  /* line 958, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special .special-text {
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    top: 75px;
    left: 80px;
    width: 170px;
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 11px;
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  /* line 984, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category {
    background-color: #242424;
    padding: 0;
    min-height: 175px;
  }
  /* line 990, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special {
    margin-top: 4%;
  }
  /* line 995, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special img {
    width: 100%;
  }
  /* line 1000, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
  .section-category .special .special-text {
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    top: 34%;
    left: 17%;
    width: 68%;
    height: 37%;
    color: #fff;
    text-align: center;
    padding-top: 8%;
    font-size: 80%;
  }
}

/* line 1025, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-misc .date-box {
  color: #fff;
  background-color: #57c5a0;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 15px;
}

/* line 1036, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-misc .date-box span {
  display: block;
  text-align: center;
  margin-top: 5px;
}

/* line 1045, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-misc .container h4 {
  font-weight: bold;
}

/* line 1049, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-misc .container hr {
  margin-top: 0px;
  margin-bottom: 27px;
  border-top: 1px solid #bcb5a7;
}

/* line 1057, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-misc .container .media-left {
  padding-right: 0;
}

/* line 1062, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-misc .container .media-body h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 1070, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.block-gray {
  background-color: #dfdbd4;
  padding: 18px;
  min-height: 280px;
}

/* line 1076, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark {
  background-color: #242424;
  margin-top: 15px;
  color: #7b7b7b;
}

/* line 1082, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container-second {
  margin-top: 32px;
}

/* line 1085, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container {
  margin-bottom: 32px;
}

/* line 1090, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container .form-control {
  border-radius: 0;
}

/* line 1096, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container .search {
  margin: 0;
}

/* line 1100, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container .border-square, .section-dark .container .section-showcase-home .border-square-green, .section-showcase-home .section-dark .container .border-square-green {
  background-color: #2e2e2e;
  color: #7d7d7d;
  padding: 8px 8px 8px 10px;
  width: 36px;
  height: 35px;
  font-size: 18px;
}

/* line 1110, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container p {
  font-style: italic;
  font-size: 12px;
}

/* line 1115, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container .block-dark {
  padding-top: 25px;
}

/* line 1118, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container .block-dark .list-group {
  margin-right: 55px;
}

/* line 1121, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .container .block-dark img {
  margin-top: 7px;
  width: 75px;
  height: 56px;
}

/* line 1137, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .hr-dark {
  border-top: 1px solid #000 !important;
}

/* line 1141, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .search {
  margin: 40px;
}

/* line 1144, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .search input[type="search"] {
  border: 0;
  background-color: #2e2e2e;
  height: 36px;
  width: 250px;
  font-style: italic;
}

/* line 1156, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
.section-dark .search button[type="submit"] {
  border: 0;
  background: #7d7d7d;
  color: #242424;
  verticle-align: top;
  border-radius: 0;
  margin-left: 8px;
  height: 36px;
  padding: 11px;
  margin-left: -37px;
  width: 36px;
}

/* line 1184, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer {
  padding-top: 1px;
  background-color: #2e2e2e;
  color: #7b7b7b;
}

/* line 1189, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 1194, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container p {
  font-size: 12px;
}

/* line 1198, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container {
  float: right;
}

/* line 1200, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul {
  margin: 0;
  padding: 0;
}

/* line 1204, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul li {
  list-style: none;
  float: left;
  margin-right: 4px;
}

/* line 1212, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul li a {
  text-decoration: none;
  border-right: 1px solid #7b7b7b;
  padding-right: 4px;
  font-size: 12px;
  color: #7b7b7b;
}

/* line 1224, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul:before, footer .container .menu-footer-menu-links-container ul:after {
  content: "";
  display: table;
}

/* line 1229, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul:after {
  clear: both;
}

/* line 1230, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_components.scss */
footer .container .menu-footer-menu-links-container ul {
  *zoom: 1;
}

/* line 1, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_blocks.scss */
.woocommerce form .form-row input.input-text {
  border: 1px solid #ccc;
  height: 34px;
}

/* line 1, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area {
  border-left: 1px solid gray;
  padding-left: 10px;
}

/* line 5, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area .widget {
  margin: 5px;
}

/* line 9, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area .widget .widget-title {
  color: #57c5a0;
  font-size: 24px;
  font-weight: bold;
}

/* line 16, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area .widget ul {
  list-style: none;
}

/* line 24, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area-products {
  padding: 5px;
}

/* line 30, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area-products .widget {
  width: 30%;
  margin: 5px;
}

/* line 35, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area-products .widget .widget-title {
  font-size: 14px;
  font-weight: bold;
}

/* line 42, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_sections.scss */
.widget-area-products .widget ul {
  list-style: none;
}

/* line 1, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_typography.scss */
.text-muted {
  color: #242424;
}

/* line 4, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_typography.scss */
.text-primary {
  color: #57c5a0;
}

/* line 7, D:/projects/precise32/www/fooseshoes/wp-content/themes/foose/scss/modules/_typography.scss */
.text-success {
  color: #57c5a0;
}

/* LAYOUTS */

/*# sourceMappingURL=../css/main.map */