.navbar-default {
	background-color: $white-color;

}

.navbar-default {
	margin-bottom: 0;

	.label {
		font-size: 12px;
		margin: 4px;
	
		font-family: $base-font-regular;
	}

	.label-default{
			background-color:#adadad;
	}
	.label-green{
			background-color:$primary-color;
	}



	ul.navbar-nav {
		li {
			border-left:1px solid $light-color;
			position:relative;
			
			width: 88px;
			a {
				
				text-align: center;
				display:block;
			}

			a:hover {
				color: $white-color;
				background-color: $primary-color;
				text-align: center;
			}
		}

		li:hover > ul {
			display: block;
		}
		
		li.current_page_item {
			
			a {
				color: $primary-color;
				background-color: $white-color;
				text-align: center;
			}

			a:hover {
				color: $white-color;
				background-color: $primary-color;
				text-align: center;
			}
		}

		ul {

			position:absolute;
			display:none;
			list-style: none;
			padding:0;

			li {
				border-left:1px solid $light-color;
			
				width: 132px;

				background-color: white;
				border-top: 1px solid $light-color;
				height: 37px;
				line-height: 37px;
				a {
					color: $default-color;
					text-align: center;
					text-decoration:none;
					display:block;
				}

				a:hover {
					color: $white-color;
					background-color: $primary-color;
					text-align: center;
					text-decoration:none;
				}
			}

		ul {

			
			margin-left: 131px;
			top:0;

			

		}

		}
		
		

	}



}
.navbar-inverse{
	
	margin-bottom: 0px;

	.navbar-brand {
		font-family: "Ft58";
		font-size: 26PX;
		color: $primary-color;
	}

}

.search{

	input[type="search"] {
		border: 0;
		background-color: $default-color;
		
	}

	button[type="submit"] {
		border: 0;
		height:32px;
		background: none;
		color:$gray-color;
		padding: 0;
		verticle-align: top;
		margin-left: -4px;
	}

	button{
		border-top:0;
		border-bottom:0;
		border-left:solid $gray-color 1px;
		border-right:solid $gray-color 1px;
		padding:6px 5px 6px 5px;
		margin-left: 5px;
		background-color: $default-color;
		color:$gray-color;

	}


}


section {
	padding: 15px 15px;
}
.section-showcase-product{
	margin-top: 0;
	height: $showcase-height;
	background-color: #eae8e4 !important;
	background: url($showcase-image) no-repeat top left;
	margin-bottom: 24px;

	.showcase-content {
		
		padding-top: 2px;

		.lead {
			margin-bottom: 9px;
		}
	}

	.price-box{
		
		@include badge-square("green", "meduim", "default-left");

		span{
			span {
				display: initial;
			}
			display: block;
			text-align: center;
			padding-top: 31%;
			font-weight: bold;
			font-size: 100%;
		}

		

	}
}

.section-showcase-home{
	
	@media screen and   (max-width: 768px) {
		background: url('../img/home_showcase2.jpg') no-repeat top left;
	}

	@media screen and   (min-width: 768px) {
		background: url('../img/home_showcase2.jpg') no-repeat top left;
	}

	@media screen and   (min-width: 992px) {
		background: url('../img/home_showcase.jpg') no-repeat top left;
	}

	margin-top: 0;
	height: 460px;
	background-color: #eae8e4 !important;
	

	.showcase-content {
		
		padding-top: 50px;

		.lead {
			margin-bottom: 9px;
		}
	}

	.border-square {   
		background-color: #fff;  
		color:#a8a5a5;
		padding: 11px; 
		float:left; 
		width: 7%;
		height: 35px;
		margin:1px;
	}

	.border-square-green {
		@extend .border-square;
		color: $primary-color;
	}


	.price-box{
		@include badge-square("green", "meduim", "default");
		span{
			span {
				display: initial;
			}
			display: block;
			text-align: center;
			padding-top: 31%;
			font-weight: bold;
			font-size: 100%;
		}
	
	}
}


.product {
	@media screen and   (max-width: 768px) {
		@include shop-box("onsale","max-width","768");
	}@media screen and   (min-width: 768px) {
		@include shop-box("onsale","min-width","768");
	}@media screen and   (min-width: 992px) {
		@include shop-box("onsale","min-width","992");
	}
	@media screen and   (min-width: 1200px) {
		@include shop-box("onsale","min-width","1200");
	}
}

.prodocut-filter {

	
	background-color: $dark-color;
	min-height:70px;
	color: $white-color;


	h3{
		padding-top:0 !important;
	}
	.btn {
		background-color:#000;
		min-height:50px;
		color: $white-color;
		border:none;
		width: 200px;
	    font-size: 20px !important;
	    padding-top: 12px;

	}


	
}
.product-list-shop{
	padding-bottom: 0;

	ul.products{
		li.product{
			width: 29.05%;
		}
	}
	small {
		span{
			margin-left: 140px;
		}
	}
	.icon-holder{
		
		float:right;
		border:1px #bcb5a7 solid;
		padding: 7px;
		color: $gray-color;
		margin:0 13px 0 3px;
		width: 30px;
		height: 30px;
		color: #bcb5a7;
		font-size: 16px;
	}

	.btn-group {
		float: right;
		width: 152px;
		height: 30px;
		a {
			width: 152px;
			height: 30px;
		}
	}

	

	.list-filter{
		margin-bottom: 15px;
	}

	.caption {
		border-top: 1px $light-color solid;
	}
		.list-group-item-heading{
		
		text-align: center;
	}

	.container {
		.list-group{
			margin-bottom: 12px;
		}


		
	}


		@media screen and  (max-width : 768px) {
		
		ul.products{
			li.product{
				width: 100%;
			}
		}
		.caption {
				margin-left: 17%;
				padding: 1.7%;

				h4 {
					
					font-size: 100%;
				}
		}
		

		

		@include shop-box("price-box","max-width","768");
		@include shop-box("price-box-onsale","max-width","768");
		@include shop-box("price-box-outofstock","max-width","768");

	}

	@media screen and  (min-width : 768px) {
		
		.thumbnail {

			.caption {
				margin-left: 58px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 12px;
				}
			}

			@include shop-box("price-box","min-width","768");
			@include shop-box("price-box-onsale","min-width","768");
			@include shop-box("price-box-outofstock","min-width","768");

			

			

		}

	}
	@media screen and   (min-width: 992px) {
		
		.thumbnail {

			.caption {
				margin-left: 83px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 14px;
				}
			}

			

			@include shop-box("price-box","min-width","992");
			@include shop-box("price-box-onsale","min-width","992");
			@include shop-box("price-box-outofstock","min-width","992");


			

		}



	}

	@media screen and   (min-width: 1200px) {
		.thumbnail {

			.caption {
				margin-left: 83px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 14px;
				}
			}

			@include shop-box("price-box","min-width","1200");
			@include shop-box("price-box-onsale","min-width","1200");
			@include shop-box("price-box-outofstock","min-width","1200");

			

		
			

			

		}



	}
		

	

}
.related{
	padding-bottom: 0;

	ul.products{
		li.product{
			width: 29.05%;
		}
	}
	small {
		span{
			margin-left: 140px;
		}
	}
	.icon-holder{
		
		float:right;
		border:1px #bcb5a7 solid;
		padding: 7px;
		color: $gray-color;
		margin:0 13px 0 3px;
		width: 30px;
		height: 30px;
		color: #bcb5a7;
		font-size: 16px;
	}

	.btn-group {
		float: right;
		width: 152px;
		height: 30px;
		a {
			width: 152px;
			height: 30px;
		}
	}

	

	.list-filter{
		margin-bottom: 15px;
	}

	.caption {
		border-top: 1px $light-color solid;
	}
		.list-group-item-heading{
		
		text-align: center;
	}

	.container {
		.list-group{
			margin-bottom: 12px;
		}


		
	}


		@media screen and  (max-width : 768px) {
		
		ul.products{
			li.product{
				width: 100%;
			}
		}
		.caption {
				margin-left: 17%;
				padding: 1.7%;

				h4 {
					
					font-size: 100%;
				}
		}
		

		

		@include shop-box("price-box","max-width","768");
		@include shop-box("price-box-onsale","max-width","768");
		@include shop-box("price-box-outofstock","max-width","768");

	}

	@media screen and  (min-width : 768px) {
		
		.thumbnail {

			.caption {
				margin-left: 58px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 12px;
				}
			}

			@include shop-box("price-box","min-width","768");
			@include shop-box("price-box-onsale","min-width","768");
			@include shop-box("price-box-outofstock","min-width","768");

			

			

		}

	}
	@media screen and   (min-width: 992px) {
		
		.thumbnail {

			.caption {
				margin-left: 83px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 14px;
				}
			}

			

			@include shop-box("price-box","min-width","992");
			@include shop-box("price-box-onsale","min-width","992");
			@include shop-box("price-box-outofstock","min-width","992");


			

		}



	}

	@media screen and   (min-width: 1200px) {
		.thumbnail {

			.caption {
				margin-left: 83px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 14px;
				}
			}

			@include shop-box("price-box","min-width","1200");
			@include shop-box("price-box-onsale","min-width","1200");
			@include shop-box("price-box-outofstock","min-width","1200");

			

		
			

			

		}



	}
		
	

}
.product-list{
	padding-bottom: 0;
	ul.products{
		li.product{
			width: 29.05%;
		}
	}
	small {
		span{
			margin-left: 140px;
		}
	}
	.icon-holder{
		
		float:right;
		border:1px #bcb5a7 solid;
		padding: 7px;
		color: $gray-color;
		margin:0 13px 0 3px;
		width: 30px;
		height: 30px;
		color: #bcb5a7;
		font-size: 16px;
	}

	.btn-group {
		float: right;
		width: 152px;
		height: 30px;
		a {
			width: 152px;
			height: 30px;
		}
	}

	

	.list-filter{
		margin-bottom: 15px;
	}

	.caption {
		border-top: 1px $light-color solid;
	}
		.list-group-item-heading{
		
		text-align: center;
	}

	.container {
		.list-group{
			margin-bottom: 12px;
		}


		
	}


		@media screen and  (max-width : 768px) {
		ul.products{
			li.product{
				width: 100% !important;
			}
		}
		.caption {
				margin-left: 17%;
				padding: 1.7%;

				h4 {
					
					font-size: 100%;
				}
		}
		

		

		@include product-box("price-box","max-width", "768");
		@include product-box("price-box-onsale","max-width","768");
		@include product-box("price-box-outofstock","max-width","768");

	}

	@media screen and  (min-width : 768px) {
		
		.thumbnail {

			.caption {
				margin-left: 58px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 14px;
				}
			}


			@include product-box("price-box","min-width", "768");
			@include product-box("price-box-onsale","min-width","768");
			@include product-box("price-box-outofstock","min-width","768");
						

		}

	}
	@media screen and   (min-width: 992px) {
		
		.thumbnail {

			.caption {
				margin-left: 83px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 18px;
				}
			}

			@include product-box("price-box","min-width","992");
			@include product-box("price-box-onsale","min-width","992");
			@include product-box("price-box-outofstock","min-width","992");
				
			
		}



	}

	@media screen and   (min-width: 1200px) {
		.thumbnail {

			.caption {
				margin-left: 83px;

				h4.list-group-item-heading {
					text-align: left;
					font-size: 18px;
				}
			}

			@include product-box("price-box","min-width","1200");
			@include product-box("price-box-onsale","min-width","1200");
			@include product-box("price-box-outofstock","min-width","1200");

			

			
		}



	}
		

	

}




@media screen and  (min-width : 768px) {
	.section-category{
		background-color: $default-color;
		
		padding:0;

		min-height: 318px;

		.cat-top{
			background-color: $dark-color;
			min-height: 88px;
			.top-category-bar{
				height: 10px;
				margin-top:5px;
				background-color: #000;
				padding:3px;
				border-right: 2px solid $dark-color;

				
				
				

				.category{
					h4 {
						color: #7d7d7d;
						text-align: center;
					}
					.small {
						text-align: center;
						color: #7d7d7d;
						font-size: 12px;
					}
				}

				
				.category-selected{
					h4 {
						color: #fff;
						text-align: center;
					}
					.small {
						text-align: center;
						color: #fff;
						font-size: 12px;
					}
				}
			}
		}

		.special {

			
			margin-top: 20px;

			img{
				width: 100%;
			}


			.special-text{
				display: block;
				position:absolute;
				background: #000;
				opacity: 0.7;
	    		filter: alpha(opacity=60); /* For IE8 and earlier */
	    		top: 46px;
				left: 41px;
				width: 169px;
				height: 45px;
				color: #fff;
				text-align: center;
				padding-top: 9px;
				font-size: 18px;



			}
		}
	}
}

@media screen and  (min-width : 992px) {
	.section-category{
		background-color: $default-color;
		
		padding:0;

		min-height: 318px;

		
		
		.cat-top{
			background-color: $dark-color;
			min-height: 88px;

			.top-category-bar{
				height: 10px;
				margin-top:5px;
				background-color: #000;
				padding:3px;
				border-right: 2px solid $dark-color;

				.bar{
					height: 4px;
					
					padding: 2px;
					border-right: 2px solid $dark-color;
				}


				.category{
					h4 {
						color: #7d7d7d;
						text-align: center;
					}
					.small {
						text-align: center;
						color: #7d7d7d;
						font-size: 12px;
					}
				}


				.bar-selected{
					@extend .bar;
					background-color: $primary-color;
					
				}


				.category-selected{
					h4 {
						color: #fff;
						text-align: center;
					}
					.small {
						text-align: center;
						color: #fff;
						font-size: 12px;
					}
				}
			}


		}
		
		
		.special {

			
			margin-top: 20px;

			img{
				width: 100%;
			}


			.special-text{
				display: block;
				position:absolute;
				background: #000;
				opacity: 0.7;
	    		filter: alpha(opacity=60); /* For IE8 and earlier */
	    			top: 75px;
	    		left: 80px;
	    		width: 170px;
				height: 50px;
				color: #fff;
				text-align: center;
				padding-top:11px;
				font-size: 24px;





			}
		}
	}
}


@media screen and  (max-width : 768px) {
	.section-category{
		background-color: $default-color;
		
		padding:0;
		min-height: 175px;

		.special {

			
			margin-top: 4%;

			img{
				width: 100%;
			}


			.special-text{
				display: block;
				position:absolute;
				background: #000;
				opacity: 0.7;
	    		filter: alpha(opacity=60); /* For IE8 and earlier */
	    		top: 34%;
				left: 17%;
				width: 68%;
				height: 37%;
				color: #fff;
				text-align: center;
				padding-top: 8%;
				font-size: 80%;



			}
		}
	}
}
.section-misc{
	
	

	.date-box{
		
		color: #fff;
		background-color: $primary-color;
		width: 48px;
		height: 48px;
		float: left;
		margin-right: 15px;
		


		span {
			display: block;
			text-align: center;
			margin-top: 5px;
		}

	}

	.container {
		h4{
			font-weight: bold;
		}

		hr {
			margin-top: 0px;
			margin-bottom: 27px;
			border-top: 1px solid #bcb5a7;
		}

		

		.media-left{
			padding-right: 0;
		}

		.media-body {
			h4{
				margin-top: 0;
				margin-bottom:0;
			}
		}
	}
}

.block-gray {
	background-color: #dfdbd4;
	padding: 18px;
	min-height: 280px;
}

.section-dark {
	
	background-color: $default-color;
	margin-top: 15px;
	color:#7b7b7b;

	.container-second{
		margin-top: 32px;
	}
	.container{

		
		margin-bottom: 32px;

		.form-control{
			border-radius: 0;
		}



		.search {
			margin: 0;
		}

		.border-square {   
			background-color: $dark-color;  
			color:#7d7d7d;
			padding: 8px 8px 8px 10px;
			width: 36px;
			height: 35px;
			font-size: 18px;
			
		}

		p {
			font-style: italic;
			font-size: 12px;
		}

		.block-dark{
			padding-top: 25px;

			.list-group{
				margin-right: 55px;
			}
			img {
				margin-top: 7px;
				width:75px;
				height: 56px;

			}
		}

	}

	

	

	

	.hr-dark {
		border-top: 1px solid #000 !important;
	}

	.search{

		margin: 40px;
		input[type="search"] {
			border: 0;
			background-color: $dark-color;

			height: 36px;
			width: 250px;
			font-style: italic;


			
		}

		button[type="submit"] {
			border: 0;
			background: #7d7d7d;
			color:$default-color;
			
			verticle-align: top;


			border-radius: 0;
			margin-left: 8px;
			height: 36px;
			padding: 11px;
			margin-left: -37px;
			width: 36px;
			
		}



		

	}
}





footer{
	padding-top: 1px;
	background-color: $dark-color;
	color:#7b7b7b;

	.container{

		padding-top: 15px;
		padding-bottom: 15px;

		p {
			font-size: 12px;
		}

		.menu-footer-menu-links-container{ 
			float: right;
			ul {
				margin:0;
				padding:0;
			
				li{
					list-style: none;
					float:left;
					
					margin-right: 4px;
					
					

					a {
						text-decoration: none;
						border-right: 1px solid #7b7b7b;
						padding-right: 4px;
						font-size: 12px;
						color: #7b7b7b;
					}
				}	

			}
		}

		.menu-footer-menu-links-container ul:before, .menu-footer-menu-links-container ul:after {
			content:"";
			display: table;
		}

		.menu-footer-menu-links-container ul:after{ clear:both;}
		.menu-footer-menu-links-container ul {*zoom:1;}






	}


}

