.widget-area {
	border-left: 1px solid gray;
	padding-left: 10px;

	.widget {

		margin: 5px;

		.widget-title {

			color: rgb(87, 197, 160);
			font-size: 24px;
			font-weight: bold;
		}

		ul {
			list-style: none;
		}
	}

}


.widget-area-products {
	
	
	
	padding: 5px;

	.widget {
		width: 30%;

		margin: 5px;

		.widget-title {

			
			font-size: 14px;
			font-weight: bold;
		}

		ul {
			list-style: none;
		}
	}

}