@mixin badge-square($color, $size, $position){
	   
	@if $color == "green"{
		background-color: $primary-color;  
		color: #fff;
		
	} @elseif $color == "black"{
		background-color: $default-color;  
		color:#fff;
	
	} @elseif $color == "orange"{
		background-color: #f27e4b;  
		color:#fff;
	
	}

	@if $size == "meduim" {
		width: 68px;
		height: 67px;
		
	
	} @elseif $size == "small"{
		width: 36px;
		height: 36px;
		
	}

	@if $position == "default-left"{
		float: left;
		margin-right: 23px;
		margin-top: 23px;
		
	} @elseif $position == "bottom-left"{
		position: absolute;
		top: 195px;
		float: left;
		margin-right: 23px;
		margin-left: 14px;
	} @elseif $position == "top-right"{
		position: absolute;
		float: left;
		margin-right: 23px;
		margin-left: 14px;
	}

	
	
		
}


@mixin product-box($name, $screen, $size){
	
	@if $name == "price-box" {
		.price-box {
			@include badge-square("green", "meduim", "bottom-left");
			@if $screen == "max-width" and $size == "768" {
				
				margin-left: 3px;
				width: 16%;
				height: 17%;
				top: 79.5%;
				left: 2%;
				del span, ins span {
					padding-top: 15px !important;
				}
				span{
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 31%;
					font-weight: bold;
					font-size: 100%;
				}
				
				
			}
			@elseif $screen == "min-width" and $size == "768" {
				
				margin-left: 3px;
				width: 53px;
				height: 53px;
				top: 170px;
				del span, ins span {
					padding-top: 9px !important;
				}
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 18px;
					font-weight: normal;
					font-size: 12px;
				}
				
			} @elseif $screen == "min-width" and  $size == "992" {
				width: 68px;
				height: 67px;
				top: 210px;
				del span, ins span {
					padding-top: 9px !important;
				}
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			} @elseif $screen == "min-width" and  $size == "1200" {
			
				width: 68px;
				height: 67px;
				top: 206px;
				del span, ins span {
					padding-top: 9px !important;
				}
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			}
		}

	} @elseif $name == "price-box-onsale" {
		.price-box-onsale {
			@include badge-square("orange", "meduim", "top-right");
			
			@if $screen == "max-width" and $size == "768" {
				
				margin-left: 3px;
				width: 16%;
				height: 17%;
				top: 0;
				left: 2%;
				
				span{
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 31%;
					font-weight: bold;
					font-size: 100%;
				}
				
				
			}
			@elseif $screen == "min-width" and  $size == "768" {
				margin-left: 3px;
				width: 53px;
				height: 53px;
				left: 158px;
				top: 170px;

				span {
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 18px;
					font-weight: normal;
					font-size: 12px;
				}
			} @elseif $screen == "min-width" and  $size == "992" {
				width: 68px;
				height: 67px;
				top: 210px;
				left: 198px;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			} @elseif $screen == "min-width" and  $size == "1200" {
			
				width: 68px;
				height: 67px;
				top: 0;
				left: 198px;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			}
		}

	} @elseif $name == "price-box-outofstock" {
		.price-box-onsale {
			@include badge-square("black", "meduim", "top-right");
			@if $screen == "min-width" and  $size == "768" {
				margin-left: 3px;
				width: 53px;
				height: 53px;
				top: 0;
				span {
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 18px;
					font-weight: normal;
					font-size: 12px;
				}
			} @elseif $screen == "min-width" and  $size == "992" {
				width: 68px;
				height: 67px;
				top: 0;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			} @elseif $screen == "min-width" and  $size == "1200" {
			
				width: 68px;
				height: 67px;
				top: 0;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			}
		}

	} 
}



@mixin shop-box($name, $screen, $size){
	
	@if $name == "price-box" {
		.price-box {
			@include badge-square("green", "meduim", "bottom-left");
			@if $screen == "max-width" and $size == "768" {
				
				margin-left: 3px;
				width: 16%;
				height: 17%;
				top: 79.5%;
				left: 2%;
				del span, ins span {
					padding-top: 15px !important;
				}
				span{
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 31%;
					font-weight: bold;
					font-size: 100%;
				}
				
				
			}
			@elseif $screen == "min-width" and $size == "768" {
				
				margin-left: 3px;
				width: 64px;
				height: 64px;
				top: 143px;
				del span, ins span {
					padding-top: 9px !important;
				}
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 18px;
					font-weight: normal;
					font-size: 12px;
				}
				
			} @elseif $screen == "min-width" and  $size == "992" {
				width: 64px;
				height: 64px;
				top: 192px;
				del span, ins span {
					padding-top: 9px !important;
				}
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			} @elseif $screen == "min-width" and  $size == "1200" {
			
				width: 64px;
				height: 64px;
				top: 188px;
				del span, ins span {
					padding-top: 9px !important;
				}
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			}
		}

	} @elseif $name == "price-box-onsale" {
		.price-box-onsale {
			@include badge-square("orange", "meduim", "top-right");
			
			@if $screen == "max-width" and $size == "768" {
				
				margin-left: 3px;
				width: 16%;
				height: 17%;
				top: 0;
				left: 2%;
				
				span{
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 31%;
					font-weight: bold;
					font-size: 100%;
				}
				
				
			}
			@elseif $screen == "min-width" and  $size == "768" {
				margin-left: 3px;
				width: 53px;
				height: 53px;
				left: 158px;
				top: 170px;

				span {
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 18px;
					font-weight: normal;
					font-size: 12px;
				}
			} @elseif $screen == "min-width" and  $size == "992" {
				width: 68px;
				height: 67px;
				top: 210px;
				left: 198px;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			} @elseif $screen == "min-width" and  $size == "1200" {
			
				width: 64px;
				height: 64px;
				top: 0;
				left: 182px;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			}
		}

	} @elseif $name == "price-box-outofstock" {
		.price-box-onsale {
			@include badge-square("black", "meduim", "top-right");
			@if $screen == "min-width" and  $size == "768" {
				margin-left: 3px;
				width: 53px;
				height: 53px;
				top: 0;
				span {
					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 18px;
					font-weight: normal;
					font-size: 12px;
				}
			} @elseif $screen == "min-width" and  $size == "992" {
				width: 68px;
				height: 67px;
				top: 0;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			} @elseif $screen == "min-width" and  $size == "1200" {
			
				width: 64px;
				height: 64px;
				
				top: 0;
				span {

					span {
						display: initial;
					}
					display: block;
					text-align: center;
					padding-top: 22px;
					font-weight: bold;
					font-size: 14px;
				}
			}
		}

	} @elseif $name == "onsale" {
		span.onsale {
			@include badge-square("black", "meduim", "top-right");
			
			@if $screen == "max-width" and $size == "768" {
				
				margin-left: 3px;
				width: 10%;
				height: 1.8%;
				top: 0;
				left: 2%;
				float: right;
				border-radius:0;
				
				
				
			}
			@elseif $screen == "min-width" and  $size == "768" {
				margin-left: 3px;
				width: 53px;
				height: 53px;
				left: 0;
				top: 0;
				float: right;
				border-radius:0;

				
			} @elseif $screen == "min-width" and  $size == "992" {
				width: 59px;
				height: 51px;
				top: 0;
				left: 0;
				float: right;
				border-radius:0;
				
			} @elseif $screen == "min-width" and  $size == "1200" {
			
				width: 59px;
				height: 51px;
				top: 0;
				left: 0;
				float: right;
				border-radius:0;
				
			}
		}

	}
}
	