@mixin badge-square($color, $size, $position){
	   
	@if $color == "green"{
		background-color: $primary-color;  
		color: #fff;
		
	} @elseif $color == "black"{
		background-color: $default-color;  
		color:#fff;
	
	} @elseif $color == "orange"{
		background-color: #f27e4b;  
		color:#fff;
	
	}

	@if $size == "meduim" {
		width: 68px;
		height: 67px;
		
	
	} @elseif $size == "small"{
		width: 36px;
		height: 36px;
		
	}

	@if $position == "default-left"{
		float: left;
		margin-right: 23px;
		margin-top: 23px;
		
	} @elseif $position == "bottom-left"{
		position: absolute;
		top: 195px;
		float: left;
		margin-right: 23px;
		margin-left: 14px;
	} @elseif $position == "top-right"{
		position: absolute;
		top: 0;
		left: 215px;
		float: left;
		margin-right: 23px;
		margin-left: 14px;
	}

	span {
			display: block;
			text-align: center;
			padding-top: 22px;
			font-weight: bold;
			font-size: 14px;
		}
	
		
	
}