@font-face {
    font-family: AllerLight;
    src: url(../fonts/Aller_Lt_0.ttf);
}
@font-face {
    font-family: Aller;
    src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
    font-family: Ft58;
    src: url(../fonts/ftMedium.ttf);
}





$base-font-size: 15px;
$base-font-family:"AllerLight";
$base-font-regular:"Aller";

$default-color: #242424;
$white-color: #fff;
$primary-color:#57c5a0;
$secondary-color:#57c5a0;
$light-color:#e7e6e2;
$dark-color:#2e2e2e;
$gray-color:#7e7e7e;

$showcase-height: 260px;
$showcase-image:'../img/showcase.jpg';


